@model ExampleFramework.Models.IndexModel
@{
    ViewBag.Title = "Index";
}

<h1>Cookie Example</h1>

<p>Refresh the page a few times to see how different the data ends up being.</p>

<h2>Incorrect Cookie Usage</h2>

<p>Value: @Model.BadValue</p>

<h2>Cookie Wrapper</h2>

<p>Value: @Model.GoodValue</p>

